<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748525500524-e68epevv16213am72n263ce9cp0v87qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748525500524-e68epevv16213am72n263ce9cp0v87qm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>748525500524-b3mkvi442rfhfipjcub58ojqfrkrj72m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA041gNQsbie-JGnpQ8LPiTAUh2ahmElL4</string>
	<key>GCM_SENDER_ID</key>
	<string>748525500524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.itforone.flutterforestmk</string>
	<key>PROJECT_ID</key>
	<string>dreamforone-e23df</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamforone-e23df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748525500524:ios:1b6e6e65a3bfe59b5d4049</string>
	<key>DATABASE_URL</key>
	<string>https://dreamforone-e23df.firebaseio.com</string>
</dict>
</plist>